/* estilos.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #e9ecef;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

main {
    padding: 20px;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #fff; /* Color del contenedor del producto */
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}

/* Colores de texto y botones dentro del contenedor */
.producto p {
    margin: 10px 0;
    color: #333; /* Color del texto dentro del contenedor del producto */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Colores de los botones */
button.comprar {
    background-color: #28a745; /* Color del botón Comprar */
    color: #fff;
}

button.carrito {
    background-color: #007bff; /* Color del botón Agregar al Carrito */
    color: #fff;
}

button:hover {
    background-color: #e7770e;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
